<EditForm Model="ServiceType" OnValidSubmit="CreateService">
    <div class="row mt-2">
        <div class="col-md-4 mb-3">
            <label class="form-label">Namn på tjänsten</label>
            <input type="text" @bind-value="ServiceType!.Name" class="form-control" placeholder="t.ex banan skallning" />
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Pris (kr) för tjänsten</label>
            <input type="number" @bind-value="ServiceType!.Price" class="form-control" />
        </div>
        <div class="col-md-4 mb-3 d-flex align-items-end">
            <button type="submit" class="btn btn-success">@message</button>
        </div>
    </div>
</EditForm>
<ConfirmDialog ModelType="ModelType.Information" Title="Tjänst skappad" Message="@ConfirmationMessage" OnConfirmed="CloseConfirm" Show="@showConfirm" />