@inherits LayoutComponentBase
<div class="container">

    <div>
        <h1>Data Storage Project</h1>
        <p>Welcome to my web app</p>
    </div>
    <input type="text" class="form-control" name="name" placeholder="Enter your name" value="" />

    <NavMenu />
    @Body

</div>