@page "/employees"
@using Pressentation_WebApp.Components;

<CreateEmployee OnEmployeeAdded=LoadEmployees Show="true" />
<table class="table table-dark table-sm table-hover">
    <caption>Table of Projects</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>Anställd</th>
        </tr>
    </thead>
    <tbody>
        @if (EmployeesList != null && EmployeesList.Any())
            @foreach (var employee in EmployeesList)
            {
                <tr class="tr-mouse" @onclick="() => OpenEditDialog(employee)">
                    <td>@employee.Id</td>
                    <td>@employee.Name</td>
                    <td class="text-end">
                        <button class="btn btn-danger btn-sm" @onclick="() => ConfirmDelete(employee.Id)" @onclick:stopPropagation="true">Delete</button>
                    </td>
                </tr>
            }
        else
        {
            <tr>
                <td>Laddar antställda..</td>
            </tr>
        }
    </tbody>

</table>
@if (showEmployee)
{
    <EditEmployee OnClose="CloseEditDialog" Employee="Employee" OnConfirmed="UpdateEmployee"/>
}
<ConfirmDialog ModelType="ModelType.Confirmation" OnConfirmed="DeleteProject" Show="showConfirmDialog" />
