@page "/"

<h3>Projects</h3>

<table class="table table-dark table-sm table-hover">
    <caption>Table of Something</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Project 1</td>
            <td>Project 1 Description</td>
            <td>2021-01-01</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Project 2</td>
            <td>Project 2 Description</td>
            <td>2021-01-02</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Project 3</td>
            <td>Project 3 Description</td>
            <td>2021-01-03</td>
        </tr>
    </tbody>
</table>

@code {

}