@page "/services"
@using Pressentation_WebApp.Components;

<table class="table table-dark table-sm table-hover">
    <caption>Table of Projects</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>Anställd</th>
        </tr>
    </thead>
    <tbody>
        @if (ServiceList != null && ServiceList.Any())
            @foreach (var service in ServiceList)
            {
                <tr class="tr-mouse">
                    <td>@service.Id</td>
                    <td>@service.Name</td>
                    <td>@service.Price</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => ConfirmDelete(service.Id)" @onclick:stopPropagation="true">Delete</button>
                    </td>
                </tr>
            }
        else
        {
            <tr>
                <td>Laddar antställda..</td>
            </tr>
        }
    </tbody>

</table>
@if (showConfirmDialog)
{
    <ConfirmDialog ModelType="ModelType.Confirmation" OnConfirmed="DeleteProject" />
}