@page "/services"
@layout MainLayout
@using Pressentation_WebApp.Components;
@using Pressentation_WebApp.Components.Shared;


<CreateServices OnServiceAdded="LoadServices" />
<table class="table  table-dark table-sm table-hover">
    <caption>Table of Projects</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>Tjänster</th>
            <th>Pris</th>
        </tr>
    </thead>
    <tbody>
        @if (ServiceList != null && ServiceList.Any())
            @foreach (var service in ServiceList)
            {
                <tr class="tr-mouse">
                    <td>@service.Id</td>
                    <td>@service.Name</td>
                    <td>@($"{service.Price:0}") kr</td>
                    <td class="text-end">
                        <button class="btn btn-danger btn-sm" @onclick="() => ConfirmDelete(service.Id)" @onclick:stopPropagation="true">Ta bort</button>
                    </td>
                </tr>
            }
        else
        {
            <tr>
                <td>Laddar antställda..</td>
            </tr>
        }
    </tbody>

</table>
@if (showConfirmDialog)
{
    <ConfirmDialog ModelType="ModelType.Confirmation" OnConfirmed="DeleteService" />
}